<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.udemytestapp414623" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>udemyTestApp</name>
  <description>
        This is my Must Do App to gather up all the must do's a person needs to do to have a real expirience in a specific city.
    </description>
  <author email="seforarodriguez13@gmail.com" href="http://seforarodriguez.com/">
      Sefora Rodriguez
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>